bld*/
build*/
cmake_build*/
CMakeFiles/

.config/
make*.bat
external_data/*

*.o
*.d
*.a
*.patch
*.diff
*.obj
*.orig
*.rej
*.log
*.lib
*.tlog
*.pdb
*.dll
*.exe
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*~
*.swp

android/android-ndk*
android/android-sdk*
android/assets
android/bin
android/build
android/libs
android/obj
android/res
android/.gradle
android-*
*.apk
*.keystore

